body {
	background-color: white;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	background-color: lightBlue;
}

.container {
	background-color: rgb(192, 192, 192);
	display: block;
	margin: auto;
	width: 530px;
	padding-bottom: 15px;
	padding-left: 30px;
	margin-top: 50px;
}

.menu {
	display: block;
	margin: none;
	padding: none;
	height: 75px;
	width: 500px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.display {
	display: inline-block;
	color: red;
	background-color: black;
	font-size: 26px;
	height: 30px;
	padding: 0;
}

.display td {
	height: 30px;
  vertical-align: middle;
	text-shadow: rgb(255,0,0,0.5) 0 0 10px;
}

.button {
	height: 36px;
	width: 36px;
	background-image: url(img/smiley.png);
	background-position: center;
	background-repeat: no-repeat;
	background-size: 125%;
	cursor: pointer;
}

.row {
	height: 50px;
}

.tile {
	background-color: rgb(192, 192, 192);
	margin: 0;
	height: 100%;
	width: 50px;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}


.tile.activated,
/*.tile:hover,*/
.button:hover {
	border-bottom: 5px solid white;
	border-right: 5px solid white;
	border-top: 5px solid rgb(119,119,119);
	border-left: 5px solid rgb(119,119,119);
}

.flagged {
	background-image: url(img/flag.png);
	background-position: center;
	background-size: 85%;
	background-repeat: no-repeat;
}

.activated{
	text-align: center;
	padding-top: 5px;
	font-size: 35px;
	font-weight: bolder;
}

.exploded {
	background-image: url(img/mine.png);
	background-size: 90%;
	background-position: center;
	background-color: red;
}

.button.shades{
	background-image: url(img/shades.png);
}
.button.skull {
	background-image: url(img/skull.png);
	background-size: 90%;
	background-repeat: no-repeat;
}
.container,
.menu,
.tile,
.button {
	border-top: 5px solid white;
	border-left: 5px solid white;
	border-bottom: 5px solid rgb(119,119,119);
	border-right: 5px solid rgb(119,119,119);
	vertical-align: top;
}

.mines1 {
	color: blue;
}
.mines2 {
	color: #007c00;
}
.mines3 {
	color: red;
}
.mines4 {
	color: #0a0a80;
}
.mines5 {
  color: #7c0000;
}
.mines6 {
	color: #008284;
}
.mines7 {
  color: #840084
}
.mines8 {

}
