@font-face {
  font-family: 'pacfont';
  src: url(assets/pacfont.ttf) format('truetype');
}

body {
	background-color: white;
	box-sizing: border-box;
	font-family: 'Orbitron', sans-serif;
	background-color: #336699;
}

h1 {
	font-family: 'pacfont';
	color: #1a1a1a;
	margin: 30px auto;
	text-align: center;
	font-size: 45px;
}

.container {
	background-color: #b3b3b3;
	display: block;
	margin: auto;
	width: 530px;
	padding-bottom: 15px;
	padding-left: 30px;
}

.menu {
	display: block;
	margin: none;
	padding: none;
	height: 75px;
	width: 500px;
	box-sizing: border-box;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding-left: 15px;
	padding-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
}

.display {
	display: inline-block;
	color: #cc0000;
	text-shadow: 1px 1px red;
	background-color: #333333;
	font-size: 25px;
	height: 30px;
	padding: 0;
	border-top: 5px solid #1a1a1a;
	border-left: 5px solid #1a1a1a;
	border-right: 5px solid #4d4d4d;
	border-bottom: 5px solid #4d4d4d;

}

.display td {
	height: 30px;
	width: 150px;
	padding-left: 10px;
	text-align: left;
  vertical-align: middle;
	text-shadow: rgb(255,0,0,0.5) 0 0 10px;
}

.button {
	height: 36px;
	width: 36px;
	cursor: pointer;
}

.button-center {
	background-image: url(assets/img/smiley.png);
	background-size: 100%;
}

.button-options {
	background-image: url(https://cdn3.iconfinder.com/data/icons/internet-and-web-4/78/internt_web_technology-02-512.png);
	background-size: 90%;
}

.button-leaderboard {
	background-image: url(https://maxcdn.icons8.com/Android_L/PNG/512/Sports/leaderboard-512.png);
	background-size: 110%;
}

.button-center,
.button-options,
.button-leaderboard {
	background-position: center;
	background-repeat: no-repeat;
}

.row {
	height: 50px;
}

.tile {
	background-color: #b3b3b3;
	margin: 0;
	height: 100%;
	width: 50px;
	display: inline-block;
	box-sizing: border-box;
	cursor: pointer;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

.tile:hover {
	background-color: rgb(180, 180, 180);
}


.tile.activated,
.button:hover {
	border-bottom: 5px solid #e6e6e6;
	border-right: 5px solid #e6e6e6;
	border-top: 5px solid rgb(119,119,119);
	border-left: 5px solid rgb(119,119,119);
}

.flagged {
	background-image: url(assets/img/flag.png);
	background-position: center;
	background-size: 85%;
	background-repeat: no-repeat;
}

.activated{
	text-align: center;
	padding-top: 5px;
	font-size: 35px;
	font-weight: bolder;
}

.tile.exploded {
	background-image: url(assets/img/mine.png);
	background-size: 90%;
	background-position: center;
	background-color: #cc0000;
}

.button.shades{
	background-image: url(assets/img/shades.png);
}
.button.dead {
	background-image: url(assets/img/dead.png);
	background-size: 80%;
	background-repeat: no-repeat;
}
.container,
.menu,
.tile,
.button {
	border-top: 5px solid #e6e6e6;
	border-left: 5px solid #e6e6e6;
	border-bottom: 5px solid rgb(119,119,119);
	border-right: 5px solid rgb(119,119,119);
	vertical-align: top;
}

.mines1 {
	color: blue;
}
.mines2 {
	color: #007c00;
}
.mines3 {
	color: #cc0000;
}
.mines4 {
	color: #0a0a80;
}
.mines5 {
  color: #7c0000;
}
.mines6 {
	color: #008284;
}
.mines7 {
  color: #840084
}
